@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use 'sass:math';

.answer {
  @include hexStyle(72px, 350px);
  color: $black100;
  border-color: $black40;

  &:before,
  &:after {
    border-color: $black40;
  }

  &:hover:enabled {
    cursor: pointer;
    border-color: $orange100;

    .line,
    &:before,
    &:after {
      border-color: $orange100;
    }
  }

  &:active:enabled {
    background-color: $orange5;
    border-color: $orange120;
    .line,
    &:before,
    &:after {
      background-color: $orange5;
      border-color: $orange120;
    }
  }

  @include lg {
    @include hexStyle(56px, 280px);
  }

  @include xl {
    @include hexStyle(56px, 270px);
  }

  @include sm {
    @include hexStyle(56px, 220px);
  }
}

.answerCorrect {
  @include answerCorrectTransition();
  background-color: $green5;
  animation: 1s answerCorrectTransition ease-in-out;
  border-color: $green100;

  .line,
  &:before,
  &:after {
    background-color: $green5;
    animation: 1s answerCorrectTransition ease-in-out;
    border-color: $green100;
  }
}

.answerWrong {
  @include answerWrongTransition();
  animation: 1s answerWrongTransition ease-in-out;
  background-color: $red5;
  border-color: $red100;

  .line,
  &:before,
  &:after {
    background-color: $red5;
    border-color: $red100;
    animation: 1s answerWrongTransition ease-in-out;
  }
}

.line {
  top: calc(50% - 1px);
  left: -100vw;
  position: absolute;
  width: 200vw;
  border-top: 1px solid $black40;
  z-index: -2;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
